{% load static %}

<!DOCTYPE html>

<head>
    <title> Gait Analysis </title>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <link rel="icon" href="{% static 'images/icon.png' %}" alt = "!!!">
</head>
<style>
    body {
      background-image: url("");
      background-color: rgb(136, 194, 194);
      background-repeat: no-repeat;
      background-size: cover;
    }  
</style>
<body>
    <br>
    <br>
    <p style="font-family:Lucida Console;font-size:60px; color:rgb(0, 0, 0);text-align: center;">
        Gait Analysis
    </p><hr>
    <center>
    <p  style="font-family:Lucida Console;font-size:60px; color:rgb(0, 0, 0);text-align: center;">Please see the output window that has opened</p>
    </center>
    

</body>
</html>